[Unit]
Description=Gunicorn instance to serve FastAPI College Timetable Backend
After=network.target

[Service]
User=deploy
Group=www-data
WorkingDirectory=/var/www/college-timetable-allocation-system/backend
Environment="PATH=/var/www/college-timetable-allocation-system/venv/bin"
EnvironmentFile=/var/www/college-timetable-allocation-system/backend/.env
ExecStart=/var/www/college-timetable-allocation-system/venv/bin/gunicorn app.main:app -w 4 -k uvicorn.workers.UvicornWorker --bind 127.0.0.1:8000 --access-logfile /var/log/gunicorn/access.log --error-logfile /var/log/gunicorn/error.log

[Install]
WantedBy=multi-user.target
